body{
    background-color: #F8F2ED;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section{
    position: relative;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    height: auto;
    padding: 100px;
    background-color: #bffefe;
    font-size: 2rem;
    color: rgb(243, 100, 233);
    font-weight: 600;
    border: 2px solid #6bf3f3;
    border-radius: 10px;
}
